[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "pypi"

[packages]
ddddocr = "*"
pillow = "*"
numpy = "*"
flask = "*"
paddleocr = "*"
paddlepaddle = "*"
fasttext = "*"

[dev-packages]
requests = "*"
pytest = "*"

[requires]
python_version = "3.8"
